{% set NAME = env["deployment"] +"-bucket" %}

resources:
- name: {{ NAME }}
  type: storage.v1.bucket
  properties:
    predefinedAcl: projectPrivate
    projection: full
    {# Multi region for extra redundancy #}
    location: EU
    storageClass: STANDARD

{# Add security and access levels to the bucket #}
- type: storage.v1.bucketAccessControl
  name: bucketAccessSecurity
  properties:
    {# Access levels #}
    bucket: $(ref.{{ NAME }}.name)
    domain: www.lincoln.ac.uk
    email: 19696790@students.lincoln.ac.uk
    entity: project-editors-{{ env["project"] }}
    projectTeam:
      projectNumber: {{ env["project"] }}
      team: editors
    role: OWNER