{% set NAME = "vm-instance-template-" + env["name"] %}
{% set MIG_NAME = "managed-instance-group-" + env["name"] %}

resources:
- name: {{ NAME }}
  type: compute.v1.instanceTemplate
  properties:
    properties:
      zone: {{ properties["zone"] }}
      machineType: e2-medium
      disks: 
      - deviceName: boot
        type: PERSISTENT
        boot: true
        autoDelete: true
        initializeParams:
          sourceImage: {{ properties["image"] }}
      networkInterfaces:
      - subnetwork: {{ properties["subnet"] }}
        accessConfigs:
        - name: External-IP
          type: ONE_TO_ONE_NAT
      metadata:
        items:
        - key: startup-script
          value: |
            {{ properties["startup"]|indent(12) }}

- name: {{ MIG_NAME }}
  type: compute.v1.regionInstanceGroupManager
  properties:
    baseInstanceName: mig
    instanceTemplate: $(ref.{{ NAME }}.selfLink)
    targetSize: 1
    region: {{ properties["region"] }}

- name: autoscaler-{{ env["name"] }}
  type: compute.v1.regionAutoscaler
  properties:
    region: {{ properties["region"] }}
    target: $(ref.{{ MIG_NAME }}.selfLink)
    autoscalingPolicy:
      maxNumReplicas: 2