resources:
- type: compute.v1.vpnGateways
  {# Create a gateway #}
  name: gateway-{{ env["deployment"] }}
  properties:
    region: {{ properties["region"] }}
    network: {{ properties["network"] }}